@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;

}

.div {
    background-position: 0%;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-image: linear-gradient(to bottom, rgba(55,55,55,255), rgba(226,54,14,255));
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: hsla(0, 0%, 99%, 0.72);
    padding-bottom: 15px;
}

.text p {
    color: hsla(0, 0%, 99%, 0.72);
}

.btn {
    color: hsla(0, 0%, 99%, 0.72);
    text-decoration: none;
    background-color: rgba(228, 38, 0, 0.746);
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgba(3, 2, 2, 0.439);
    opacity: 0.4;
    transition: 0.3s;
}

.btn:hover {
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px rgba(3, 2, 2, 0.436);
    opacity: 0.9;
}

.btn:active {
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 12px rgba(3, 2, 2, 0.436);
    opacity: 0.9;
}